
.subSection {
  margin-left: @spaceLg;
}

activeNavigation
.vue-school-active-class {
  &.router-link-active {
    color: @navText;
  }
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

abbr[title] {
    border: none;
}

article {
  & > header {
    visibility: hidden;
    height: 0;
  }
  & > section {
    min-height: @body;
    scroll-behavior: smooth;
  }
}

a {
  text-decoration: none !important;
}

input {
  & + label,
  & > label {
    margin-left: @spaceMd;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  & > li{
    margin: 0;
    padding: 0;
  }
}


//buttons
// Button Sizes
// --------------------------------------------------

.btn-lg {
    // line-height: ensure even-numbered height of button next to large input
    .button-size(@spaceLg; @spaceXl; @font-size-large; @line-height-large; @borderRadiusLg);
  }
  .btn-sm {
    // line-height: ensure proper height of button next to small input
    .button-size(@spaceSm; @spaceMd; @font-size-small; @line-height-small; @borderRadiusSm);
  }
  .btn-xs {
    .button-size(@spaceXs; @spaceSm; @font-size-small; @line-height-small; @borderRadiusSm);
  }
// Block button
// --------------------------------------------------
.btn-block {
  display: block;
  width: 100%;
}
// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: @spaceSm;
}
// Specificity overrides
input[type= "submit"],
input[type= "reset"],
input[type= "button"] {
  &.btn-block {
    width: 100%;
  }
}