// no-compile
@import (reference) './customVariables.less';

//tooltip

/* Tooltip container */
.tooltip () {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */

  /* Tooltip text */
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: @white;
    text-align: center;
    padding: @spaceSm 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
  }


  /* Show the tooltip text when you mouse over the tooltip container */
  &:hover {

    &.tooltiptext {
      visibility: visible;
    }
  }
}

// User select
// For selecting text on the page

.user-select(@select) {
  -webkit-user-select: @select;
  -moz-user-select: @select;
  -ms-user-select: @select; // IE10+
  user-select: @select;
}

.placeholder() {
  width: fit-content;
  border-radius: @borderRadius;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderSkeleton;
  //gray shades
  background-image: -webkit-gradient(linear, left center, right center, from(@grayLighter), color-stop(.4, @grayLight), color-stop(.7, @grayLight), to(@grayLighter));
  background-image: -webkit-linear-gradient(left, @grayLighter 0%, @grayLight 40%, @grayLight 70%, @grayLighter 100%);
  background-size: 800px 104px;

  &,
  div,
  * {
    @value: transparent !important;

    &,
    &::placeholder {
      color: @value;
      border-color: @value;
      background-color: @value;
    }
  }

  @-webkit-keyframes placeholderSkeleton {
    0% {
      background-position: -468px 0;
    }

    100% {
      background-position: 468px 0;
    }
  }

  @keyframes placeholderSkeleton {
    0% {
      background-position: -468px 0;
    }

    100% {
      background-position: 468px 0;
    }
  }

  @-webkit-keyframes skeletonAnimate {
    from {
      background-position: top left;
    }

    to {
      background-position: top right;
    }
  }

  @keyframes skeletonAnimate {
    from {
      background-position: top left;
    }

    to {
      background-position: top right;
    }
  }
}

.fa-rotate(@degree) {
  -ms-transform: rotate(@degree);
  /* Internet Explorer 9 */
  -webkit-transform: rotate(@degree);
  /* Chrome, Safari, Opera */
  transform: rotate(@degree);
  /* Standard syntax */
}

.boxShadow(@val, @color: @shadowColor, @zIndex: inherit) {
  box-shadow: @base @color, @val @color;
  -webkit-box-shadow: @base @color, @val @color;
  -moz-box-shadow: @base @color, @val @color;
  z-index: @zIndex;
}


// Box sizing
.boxSizing(@boxmodel) {
  -webkit-box-sizing: @boxmodel;
  -moz-box-sizing: @boxmodel;
  box-sizing: @boxmodel;
}

.textShadow(@val, @color: @shadowColor, @zIndex: inherit) {
  text-shadow: @val @color;
  -webkit-text-shadow: @val @color;
  -moz-text-shadow: @val @color;
  z-index: @zIndex;

  .boxShadow(none) !important;
}


//inputFormatting

.checkboxSize {

  &[type="checkbox"],
  &[type="radio"] {
    transform: scale(1.5);
    margin-right: @spaceMd;
  }
}

.inputError () {
  border-color: @dangerText;
  background-color: @dangerBackground;

  &:focus-within,
  &:focus {
    border-color: @accentColor;

    &>span {
      color: @dangerText ;
    }
  }

  input {
    color: @dangerText;
    background-color: @dangerBackground;
  }

  &>span {
    color: @dangerText  !important;
  }
}

.inputWarning () {
  border-color: @warningText;
  background-color: @warningBackground;

  &:focus-within,
  &:focus {
    border-color: @accentColor;

    &>span {
      color: @warningText;
    }
  }

  input {
    color: @warningText;
    background-color: @warningBackground;
  }

  &>span {
    color: @warningText  !important;
  }
}

.inputLabel () {
  &>label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto 0px;
    font-weight: 400;
    width: fit-content;
    height: @spaceXl;
    margin-bottom: @spaceSm;
    color: @textColor;

    &>abbr {
      padding: @spaceSm;
      color: @dangerText;
      font-weight: bold;
      text-decoration: none;
    }

    //for optional text
    &>span {
      margin-left: @spaceSm;
      color: @infoText;
      font-size: calc(@fontSizeSm - 4px);
      .opacity(0.64);

      &>abbr {
        color: inherit;
      }
    }

    &>input {
      display: none;
      .checkboxSize();
    }

    &>.vueButton {
      margin-left: auto;
    }

    &.oneLiner {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      min-height: @spaceXl;
      padding-right: @spaceLg;
      margin: 0;
      align-items: center;

      &>input[type='checkbox'],
      &>input[type='radio'] {
        display: none;

        &+span {
          margin: 0 @spaceMd;
          font-size: @fontSizeSm;
          ;

          &.fas {
            color: @accentColor;
          }
        }
      }

      &.errorLabel {
        color: @dangerText;
      }
    }
  }
}

// Opacity

.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter:~"alpha(opacity=@{opacity-ie})";
}

.displayCode () {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  margin: @spaceLg auto;
  border-radius: @borderRadius;
  width: 80%;
  min-width: 640px;
  color: @textColor;

  &>div {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    background-color: @navBackground;
    color: @textColor;

    &>.syntaxCode {
      overflow-x: auto;
      overflow-y: hidden;
    }

    &>.contentImport {
      position: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      font-size: @fontSize;
    }

    &:first-child {
      flex-wrap: nowrap;
      justify-content: space-between;
      background-color: @black;

      &>div {
        flex-grow: 0;

        &.title {
          color: @textColor;
          font-weight: bold;

          span.fas {
            color: @accentColor;
            font-size: @fontSizeSm * 2;
          }
        }
      }
    }

    &>div {
      display: flex;
      flex-flow: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      flex-grow: 1;
      padding: @spaceMd @spaceLg;
      font-size: @fontSize;
      flex-grow: 2;

      &.interactiveCode {
        flex-grow: 1;

        &>div {
          display: flex;
          flex-direction: row;
          margin-left: @spaceXl*2;
          justify-content: space-between;

          &:first-child,
          &:last-child {
            margin-left: @spaceLg;
          }

          &>div {
            margin-top: auto;
            margin-bottom: auto;
            font-weight: bold;

            &:last-child {
              font-weight: normal;

              input {
                .checkboxSize();
              }
            }
          }
        }
      }
    }
  }
}

.navComponent () {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 480px;
  max-width: 1440px;
  margin: 0 auto;
  overflow-wrap: break-word;

  .FormElementsTitle {

    >div {

      &.value {
        color: @textColor;
      }

      &.error {
        color: @dangerText
      }

      &.warning {
        color: @warningText;
      }
    }
  }
}

.condition() {
  &:focus~.conditions {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    height: fit-content;
    width: fit-content;
    border: 1px solid @secondaryColor;
    background-color: @backgroundColor;
    border-radius: 0 0 @borderRadius @borderRadius;
    padding: @spaceMd @spaceLg;
    z-index: @modalZ + 15;
    .boxShadow(@base, @shadowColor, @modalZ + 15);

    &>div {
      display: flex;
      flex-direction: row;
      padding: @spaceMd @spaceLg;

      &>span {
        margin-right: @spaceMd;
      }
    }
  }

  &~.conditions {
    display: none;
  }
}

.autocompleteInput(@bgColor: @backgroundColor, @color: @textColor) {

  //background-color on autocomplete
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: inset 0 0 0 30px @bgColor;
    -webkit-box-shadow: inset 0 0 0 30px @bgColor;
    -moz-box-shadow: inset 0 0 0 30px @bgColor;
  }

  /*Change text in autofill textbox*/
  &:-webkit-autofill {
    -webkit-text-fill-color: @color  !important;
  }
}

.inputcss () {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  &:focus-within,
  &:focus {
    border-color: @accentColor;

    &>span {
      color: @accentColor;
    }
  }

  &.inline {
    flex-direction: row;
    flex-wrap: wrap;

    &>label {
      margin-right: @spaceLg;
    }

    &>.inputResponse {
      margin-left: @spaceLg;
    }
  }

  .inputLabel();

  &>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: ~"1px solid darken(@backgroundColor, 10%)";
    border-radius: @borderRadius;
    min-width: 160px;
    max-width: 240px;
    min-height: @spaceLg;
    border: 1px solid @accentColor;
    position: relative;

    &.inputResponse {
      width: 100%;
      border: none;
    }

    &.warningContainer {
      .inputWarning();
    }

    &.errorContainer {
      .inputError();
    }

    &>datalist,
    &>select,
    &>input,
    &>textarea {
      padding: @spaceMd @spaceLg @spaceMd 2*@spaceLg;
      border-radius: @borderRadius;
      width: 100%;
      border: none;
      position: relative;
      background-color: transparent !important;
      -webkit-appearance: none;
      outline: none;

      option:first {
        color: ~"darken(@backgroundColor, 25%)"
      }

      //password peek functionality
      &+span {
        position: absolute;
        cursor: pointer;
        left: calc(100% - 3*@spaceMd);
        top: 50%;
        transform: translate(0, -50%);
        z-index: @bodyZ + 5;
        color: @accentColor;
      }

      //background-color on autocomplete
      .autocompleteInput();

      &:focus {
        border-radius: @borderRadius @borderRadius 0 0;
      }

      .condition();
    }

    &.iconPadding {

      &>span {
        position: absolute;
        z-index: @bodyZ + 10;
        left: @spaceMd;
        top: 50%;
        transform: translate(0, -50%);
        // padding: @spaceMd+@spaceSm 0 @spaceMd+@spaceSm @spaceMd*2;; //12px 0 12px @spaceLg;
        color: @accentColor;

        // border-right-width: 0px;
        &+datalist,
        &+select,
        &+input,
        &+textarea {
          padding: @spaceMd 2*@spaceLg;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          border-left-width: 0px;
          .autocompleteInput();

          //password peak functionality
          &+span {
            cursor: pointer;
            left: calc(100% - 3*@spaceMd);
          }

          &:focus {
            border-radius: @borderRadius @borderRadius 0 0;
          }

          .condition();
        }
      }
    }

    &>input[type='file'] {
      padding-left: @spaceLg; //18px;
    }

    &>select {

      &+span {
        left: 40px;
      }
    }

    &.files {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      color: @textColor;

      &>div {
        display: flex;
        border: 1px solid @accentColor;
        padding: @spaceMd @spaceLg;
        border-radius: @borderRadius;
        margin-top: @spaceSm;
        min-width: 240px;
        background-color: @white;
        justify-content: space-between;

        &>div {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          &>span {
            display: flex;
            font-size: @fontSize;
            font-weight: bold;

            &.fas {
              padding: @spaceLg auto;
            }
          }

          &:last-child {

            &>span {
              font-size: @fontSize;

              &:last-child {
                margin: auto @spaceLg auto @spaceLg*2;
              }
            }
          }
        }
      }
    }
  }

  .maskField {

    .placeholder();
  }
}

.scroll (@height, @width: @spaceMd) {
  max-height: @height;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: @width;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: @backgroundColor;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: @accentColor;
    border-radius: @width;
  }
}

.checkboxCss () {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 200px;
  height: fit-content;

  &.inline {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .inputLabel();

  &>div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: max-content;

    &.inline {
      flex-direction: row;
      margin-left: @spaceLg;
    }

    &+div {
      display: flex;
    }

    &.singleCheckbox {
      width: fit-content; // 100% !important;
    }

    &.errorContainer {
      .inputError();
    }

    &>label {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      min-height: @spaceXl;
      padding-right: @spaceLg;
      margin: 0;
      align-items: center;
      cursor: pointer;

      >input[type='checkbox'],
      >input[type='radio'] {
        display: none;

        &+span {
          margin: 0 @spaceMd;
          font-size: @fontSizeSm;
          ;

          &.fas {
            color: @accentColor;
          }
        }
      }

      &.errorLabel {
        color: @dangerText;
      }
    }
  }

  &>.box {
    margin-left: 8px;
    width: fit-content;
    background-color: @backgroundColor;
    border-radius: @borderRadius;
    border: 1px solid @accentColor;

    &>label {
      padding: @spaceLg;

      &.checked {
        border-radius: @borderRadius;
        background-color: @accentColor;
        color: @backgroundColor;
        font-weight: bold;
      }
    }

  }

  &>label {
    padding: @spaceSm @spaceMd;
    margin-right: @spaceMd;

    &>input {
      display: none;
    }
  }
}

.divide4 {
  margin: @spaceXs  !important;
  display: inline;
}

.divide8 {
  margin: @spaceSm  !important;
  display: inline;
}

.divide16 {
  margin: @spaceMd  !important;
  display: inline;
}

.divide32 {
  margin: @spaceLg  !important;
  display: inline;
}

//https://codepen.io/origine/pen/KVzpYm



// Button sizes
.buttonSize(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  line-height: @line-height;
  border-radius: @border-radius;
}